{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content%}
<div class="container p-5">
    <div class="jumbotron">
        <h1 class="display-4"><b>Proyecto Sena</b></h1>
        <hr class="my-4">
        <p>Acá va una descripción detallada del proyecto..... se tomó como una página web médica de agendación de citas y se usó python para poder usar pythonanywhere de forma gratuita, algunos archivos se ocultan de forma automática. </p>
    </div>
</div>
<div class="container p-5">
    <div class="jumbotron">
        <h1 class="display-4"><b>Contactenos:</b></h1>
        <hr class="my-4">
        <p>3108032737 - Juan David Tique Triana</p>
    </div>
</div>
{% endblock %}